<div class="container">
  <h3> Vasa korpa </h3>
  <br/> <br/> <br/>

<div class="row">


<div class="col-md-3"> <!-- column for img -->
slika
</div><!-- end of column for img -->

<div class="col-md-3"><!-- column for product_details -->
  detalji
</div><!-- end of column for product_details -->


<div class="col-md-3"><!-- column for price -->
cijenaa
</div><!-- end of column for price -->

<div class="col-md-3"><!-- column for order -->
narudzba
</div><!-- end of column for order -->




</div> <!-- end of row -->

</div> <!-- end of container -->
