<div class="container">


  <div class="row">
    <div class="col-md-6 offset-md-3">

      <center><br/><br/>  <h5> Featured Products </h5> </center>
      <center>
        <div class="btn-group">
         <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <b> VANS </b>
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>
</center>
</div>
</div>


<div class="row list_of_shoes">
  <div class="col-md-3 offset-md-1">
    <br/> <br/>
<p> List of shoes in a 4x4 table per page </p>
 </div>
</div>



</div>
