
<div class="container">


  <div class="row">
    <div class="col-md-6 offset-md-3">

      <center><br/><br/>  <h5> Featured Products </h5> </center>
      <center>
        <div class="btn-group">

  <select class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      <% for @b in @brands %>
      <option class="caret"><%= @b.brand_name %></option>
          <% end %>
  </select>
</div>
</center>
</div>
</div>


<div class="row list_of_shoes">
  <div class="col-md-3 offset-md-1">
    <br/> <br/>
 </div>
</div>

<div class="row">
      <% for @i in @images %>
        <% @p=Product.find_by_id(@i.id)%>
        <% @col_img=Color.find_by_id(@p.id)%>
        <% @pcol= Product.find(@p).colors %>
        <% @pcolurl= Color.find_by_id(@pcol) %>

        <div class="col-md-3">
            <%= link_to image_tag(@i.img_1, :class=>"img-responsive shoe_images imgs"), product_path(@p)%>

        </div>
      <% end %>

</div>


<div class="row ">
  <div class="col-md-6 offset-md-3">
    <center>
    <nav aria-label="Pages">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true" class="pages">&laquo;</span>
            <span class="sr-only pages">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link pages" href="#">1</a></li>
        <li class="page-item"><a class="page-link pages" href="#">2</a></li>
        <li class="page-item"><a class="page-link pages" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true" class="pages">&raquo;</span>
            <span class="sr-only pages">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </center>
  </div>
</div>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy;abhShoes. All rights reserved.</p>
        </div>
    </div>
</footer>

</div>

<style>
.pages{
  color: black !important;
}
.shoe_images{
  margin-bottom: 5px !important;
  margin-right: 0px !important;
}
.imgs{
  height: 200px;
  width: 250px;
}
</style>
