
<div class="container">


  <div class="row">

  <div class="col-md-6 offset-md-3">

      <center>
        <br/><br/><h5> Featured Products </h5>
      </center>

      <center>

        <div class="btn-group">

            <select class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <% for @b in @brands %>
              <option class="caret"><%= @b.brand_name %></option>
                    <% end %>
            </select>

        </div>

      </center>

  </div>

</div>
</div>


<div id="products"> <%= render '/products/products' %> </div>

<div class="row ">
  <div class="col-md-6 offset-md-3">
    <center>
      <%= will_paginate @images, previous_label: "Nazad", next_label:"Naprijed" %>
  </center>
  </div>
</div>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy;abhShoes. All rights reserved.</p>
        </div>
    </div>
</footer>

</div>

<style>
center a{
  color: black !important;
}
.pages{
  color: black !important;
}
.shoe_images{
  margin-top: 15px !important;
  margin-bottom: 5px !important;
  margin-right: 0px !important;
}
.imgs{
  height: 200px;
  width: 250px;
}
</style>
