
<div class="container">


  <div class="row">
    <div class="col-md-6 offset-md-3">

      <center><br/><br/>  <h5> Featured Products </h5> </center>
      <center>
        <div class="btn-group">
         <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <b> VANS </b>
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>
</center>
</div>
</div>


<div class="row list_of_shoes">
  <div class="col-md-3 offset-md-1">
    <br/> <br/>
<p> List of shoes in a 4x4 table per page </p>
 </div>
</div>

<div class="row">


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
</div>


<div class="row ">
  <div class="col-md-6 offset-md-3">
    <center>
    <nav aria-label="Pages">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true" class="pages">&laquo;</span>
            <span class="sr-only pages">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link pages" href="#">1</a></li>
        <li class="page-item"><a class="page-link pages" href="#">2</a></li>
        <li class="page-item"><a class="page-link pages" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true" class="pages">&raquo;</span>
            <span class="sr-only pages">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </center>
  </div>
</div>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy;abhShoes. All rights reserved.</p>
        </div>
    </div>
</footer>

</div>

<style>
.pages{
  color: black !important;
}
</style>
