
<% if @order_itemss.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.
  </p>
<% else %>
  <% @order_itemss.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true, user_id: current_user.id %>
  <% end %>
<% end %>
