
<h3> Adresa za dostavu </h3>
<br/>

<div class="row">
  <div class="col-md-offset-9">

    <img src="/dostava.png" id="korpa" />

    <br/><br/><br/>

<%= render 'vasa_korpa' %>

<div id="dugmici">
<%= link_to 'NAZAD', cart_path, class:"odustani_btn" %>
<%= link_to 'NASTAVI', charges_new_path, class:"nastavi_btn" %>
</div>

</div>
</div>

<div class="address1">
    <%= render 'address_forms' %>
</div>

<div class="address2">

</div>



<style>

</style>
