<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style>
ul li a, a{
  color: white !important;
  font-weight: bold;
}

.banner
{
  background:gray;
  min-height:200px;
}
.banner .row
{
  text-align:center;
  margin-top:50px;
}
.banner
{
  height: 500px;
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
  color: white;
}

.opaque-navbar.opaque {
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}



</style>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
  </button>
      <a class="navbar-brand" href="#">ABHshoes</a>
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-left">
        <li><a href="#">Zenska obuca</a></li>
        <li><a href="#">Muska obuca</a></li>
        <li><a href="#">Djecija obuca</a></li>
        <li><a href="#">Sportska obuca</a></li>
      </ul>
            <ul class="nav navbar-right">
        <li>


          <div class="dropdown">
            <button class="btn btn-default" type="button" data-toggle="dropdown"> Welcome <%= current_user.email %>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"><%= link_to('Edit Profile', edit_user_registration_path) %></a></li>
              <li><a href="#">...</a></li>
              <li class="divider"></li>
              <li><a href="#"><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></a></li>
            </ul>
          </div>

        </li>

        <li><a href="#">| </a></li>
        <li><a href="#"><img src="http://www.freeiconspng.com/uploads/basket-cart-icon-27.png" style="height:20px; width:20px;" /></a></li>


      </ul>
    </div>
  </div>
</div>
<section class="banner">
<div class="container">
  <div class="row">
  <!-- here goes that background photo -->
  </div>
  </div>
  </section>
</body>
</html>

<script>

  $(window).scroll(function() {
    if($(this).scrollTop() > 50)  /*height in pixels when the navbar becomes non opaque*/
    {
        $('.opaque-navbar').addClass('opaque');
    } else {
        $('.opaque-navbar').removeClass('opaque');
    }
});

</script>
